
body{
    margin: 0;
    width: 100%;
    height: 100vh;
     background-color:blueviolet; 
     font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;
     font-size:25px;
}
img{
    width: 100%;
    height: auto;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: center;
}
.text-center{
    text-align: center;
}
.color-white{
    color:#ffffff;
}
footer{
    background-color:gray;
    flex: 0 0 auto;
}
.color-green{
    background-color:#57da4e;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: auto;
    margin-top: 10px;
    left: 50%;
    background-color:#57da4e;
}
.form-color{
    background-color:#c6dbf0;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.img-gabrica{
    width: 50%;
    height: auto;
}
.color-violet{
    color:rgb(38, 23, 105);
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.color-enviar{
    color:rgb(38, 23, 105);
}
input[type=submit] {
    background-color: rgb(38, 23, 105);;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
  }
  @media (min-width: 512px) { 
    .container{
        max-width: 512px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-lg-6{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .social-media{
        width: 5%;
        height: auto;
    }

}

@media (min-width: 768px) { 
    .container{
        max-width: 768px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-lg-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .social-media{
        width: 5%;
        height: auto;
    }

}


@media (min-width: 992px) { 
    .container{
        max-width: 992px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-lg-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .social-media{
        width: 5%;
        height: auto;
    }
 }


@media (min-width: 1200px) { 
    .container{
        max-width: 1200px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-lg-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .social-media{
        width: 5%;
        height: auto;
    }
    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .text-footer{
        font-size: 25px;
        margin-left: 150px;
    }
}

